In [24]:
import numpy as np
import scipy.optimize as opt
import pandas as pd

In [25]:
def root(f, fd, a, b, esp = 0.000001, n = 100):
    if f(a) * f(b) > 0:
        print("Error: No root")
        return

    iter = 0
    c = a
    ea = 0
    # fd = derivative(f)
    
    while True:

        cold = c
        if fd(a) == 0:
            temp = a
            a = b
            b = temp

        c = ((a*f(b)-b*f(a))/(2*(f(b)-f(a))))+((a-(f(a)/fd(a)))/2)
        cnew = c
        iter = iter + 1
        
        if c != 0:
            ea = np.abs((c - cold)/c) * 100
        
        check = f(a) * f(c)
        
        if check < 0:
            if np.abs(f(a)) < np.abs(f(c)):
                continue
            else:
                b = a
                a = c
        elif check > 0:
            if np.abs(f(c)) < np.abs(f(b)):
                a = c
            else:
                a = b
                b = c
        else:
            ea = 0


        if ea <= esp or iter >= n:
            break
        
    # print("Aproximate root is:", c)
    return { 'root': c, 'iterations': iter }

def dict_adpter(original):
    return { 'root': original.root, 'iteractions': original.iterations }

# Exemplo 1

# $xe^x=cos(x)$

In [26]:
def f1(x):
    return x*np.exp(x) - np.cos(x)

def f1d(x): 
    return np.sin(x) + x * np.exp(x) + np.exp(x)

In [27]:
results = { 'Iteration': [], 'BM': [], 'NEWTON': [], 'PROPOSED': [] }

for i in range(1, 7):
    bm = dict_adpter(opt.root_scalar(f1, method='bisect', bracket=[0, 1], maxiter=i))
    newton = dict_adpter(opt.root_scalar(f1, fprime=f1d, x0=0, maxiter=i, method='newton'))
    proposed_method = root(f1, f1d, 0, 1, n = i)

    results['BM'].append(bm['root'])
    results['NEWTON'].append(newton['root'])
    results['PROPOSED'].append(proposed_method['root'])
    results['Iteration'].append(i);

pd.DataFrame(results).set_index('Iteration')

                 BM    NEWTON  PROPOSED
Iteration
1          0.500000  1.000000  0.657333
2          0.500000  0.653079  0.488635
3          0.500000  0.531343  0.516509
4          0.500000  0.517910  0.517690
5          0.500000  0.517757  0.517754
6          0.515625  0.517757  0.517757

# Exemplo 2

# $\begin{aligned} x\log _{10}(x)-1.2 \end{aligned}$

In [28]:
def f1(x):
    return x*np.log10(x) - 1.2

def f1d(x): 
    return (np.log(x) + 1) / np.log(10)

In [29]:
results = { 'Iteration': [], 'BM': [], 'NEWTON': [], 'PROPOSED': [] }
# results = { 'Iteration': [], 'BM': [], 'PROPOSED': [] }


for i in range(1, 7):
    bm = dict_adpter(opt.root_scalar(f1, method='bisect', bracket=[1, 3], maxiter=i))
    newton = dict_adpter(opt.root_scalar(f1, fprime=f1d, x0=1, maxiter=i, method='newton'))
    proposed_method = root(f1, f1d, 1, 3, n = i)

    results['BM'].append(bm['root'])
    results['NEWTON'].append(newton['root'])
    results['PROPOSED'].append(proposed_method['root'])
    results['Iteration'].append(i);

pd.DataFrame(results).set_index('Iteration')

                BM    NEWTON  PROPOSED
Iteration
1          2.00000  3.763102  3.219912
2          2.50000  2.806675  2.693526
3          2.50000  2.741031  2.739808
4          2.62500  2.740646  2.740630
5          2.68750  2.740646  2.740646
6          2.71875  2.740646  2.740646

# Exemplo 3

# $f(x) = 1 - x^2$

In [30]:
def f1(x):
    return 1 - x**2

def f1d(x): 
    return -2*x

In [31]:
results = { 'Iteration': [], 'BM': [], 'NEWTON': [], 'PROPOSED': [] }
# results = { 'Iteration': [], 'BM': [], 'PROPOSED': [] }


for i in range(1, 7):
    bm = dict_adpter(opt.root_scalar(f1, method='bisect', bracket=[0, 2], maxiter=i))
    newton = dict_adpter(opt.root_scalar(f1, fprime=f1d, x0=0, maxiter=i, method='newton'))
    proposed_method = root(f1, f1d, 0, 2, n = i)

    results['BM'].append(bm['root'])
    results['NEWTON'].append(newton['root'])
    results['PROPOSED'].append(proposed_method['root'])
    results['Iteration'].append(i);

pd.DataFrame(results).set_index('Iteration')

/usr/local/lib/python3.7/dist-packages/scipy/optimize/zeros.py:297: RuntimeWarning: Derivative was zero.
  warnings.warn(msg, RuntimeWarning)

            BM  NEWTON  PROPOSED
Iteration
1          1.0     0.0  0.875000
2          1.0     0.0  0.982725
3          1.0     0.0  0.997180
4          1.0     0.0  0.999532
5          1.0     0.0  0.999922
6          1.0     0.0  0.999987